html, body {
	height: 100%
}

body {
	line-height: 1.6em;
	margin: 0;
	padding: 0;
}

/*Style pour le message à afficher et les étiquettes des champs de saisie*/
span, label { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/*Style pour la carte*/
#map { height: 100%; width: 100%; padding-top: 10px; }

/*Style pour le titre de la page*/
.page-header h1 { 
	font-weight: bold;
	text-align: center;
	font-family: 'Eczar', serif;
}

#sliderText { border:0; color:#f6931f; font-weight:bold; }

/*Date picker*/
input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;
}
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-inner-spin-button { display: none; }
::-webkit-clear-button { display: none; }

/*Slider*/
.ui-slider .ui-slider-handle { width: 3em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute;}